body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.bg-primary {
    background-color: #34495E !important;
}

.bg-secondary {
    background-color: #47535e !important;
}

.p-4 {
    padding: 1.5rem !important;
}

.rounded {
    border-radius: 10px !important;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.logo {
    width: 300px;
    height: auto;
    object-fit: contain;
}

a {
    color: inherit !important; 
    text-decoration: none !important; 
}

a:hover {
    color: #ddd !important; 
}

.nav {
    display: flex;
    flex-wrap: nowrap; 
    justify-content: center;
    overflow-x: auto; 
    white-space: nowrap; 
}
.nav-item {
    padding: 0 10px;
}
@media (max-width: 748px) {
    .nav {
        flex-wrap: nowrap; 
        overflow-x: auto; 
    }
    .nav-item {
        flex: none; 
    }
    /* Ajusta alinhamento dos textos no mobile */
    #hero, #servicos, #portfolio {
        text-align: left !important;
    }
    /* Ajusta o carrossel para ocupar toda a tela */
    .carousel-inner img {
        width: 100% !important;
        height: auto;
    }
}
.box-standard {
    min-height: 250px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
#contato .d-flex {
    flex-direction: column !important;
    align-items: center;
    text-align: center;
}

.color-white {
    color: whitesmoke;
}
.bg-img {
    position: relative;
    background-image: url('../imagens/bg1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.bg-img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #47535e;
    opacity: 0.4;
    z-index: 1;
}
.bg-img > * {
    position: relative;
    z-index: 2;
}
.py-7 {
    padding: 7rem 2rem 7rem 2rem;
}

.color-grey {
    color: #2f2e2e;
}
#contato a {
    color: inherit !important;
    font-weight: bold; 
}
.bg-img1 {
    position: relative;
    background-image: url('../imagens/bg3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.bg-img1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #47535e;
    opacity: 0.4;
    z-index: 1;
}
.bg-img1 > * {
    position: relative;
    z-index: 2;
}
.carousel-item img {
    max-width: 100%;
    height: 500px;
    object-fit: contain; 
    display: block;
    margin: 0 auto; 
}

@media (max-width: 768px) {
    .carousel-item img {
        height: 300px;
        object-fit: cover; 
    }
}
.carousel-control-prev, 
.carousel-control-next {
    width: 5%; 
}

@media (min-width: 769px) { 
    .carousel-control-prev, 
    .carousel-control-next {
        .carousel-control-prev {
            left: 2%; 
        }
    
        .carousel-control-next {
            right: 2%; 
        }
    }
}
.expanded-container .carousel-control-prev, 
.expanded-container .carousel-control-next {
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1050;
}
.center{
    justify-content: center;
} 
